:root {
	/// Colors - Light mode

	--primary: #e9eced;
	--secondary: #2e302f;
	--accent: #6d15ab;

	/// Colors - Dark Mode

	// --primary: #0d070c;
	// --secondary: #dcd9d9;
	// --accent: #2ab1ab;

	///
}
